{% block stylesheets %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
  <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/home">Concierguance</a> <button class="navbar-toggler navbar-toggler-right"
      type="button" data-toggle="collapse" data-target="#navbar2SupportedContent"></button>
    <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
      {% if not app.user %}
      <ul class="navbar-nav">
        <a class="btn navbar-btn btn-dark ml-2 text-white" href="/inscription">inscription</a> </li>

        <a class="btn navbar-btn btn-dark ml-2 text-white" href="/connexion"><i
            class="fa d-inline fa-lg fa-user-circle-o"></i> se connecter</a>
      </ul>
      {% else %}
      <ul class="navbar-nav">
         
        <li class="nav-item"> <a class="btn navbar-btn btn-dark ml-2 text-white" href="/listePack">choisir un
            pack qui contient des services</a> </li>
        <li class="nav-item"> <a class="btn navbar-btn btn-dark ml-2 text-white"
            href="/choisirService/sansPack/{idPack}">choisir un service</a> </li>
            <li class="nav-item"> <a class="btn navbar-btn btn-dark ml-2 text-white"
              href="/choisirService/vosServices">vos services</a> </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/deconnexion">se déconnecter</a>            
          </div>
        </li>
      </ul>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" style=""></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" style=""></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" style=""></script>
      {% endif %}
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
{# pour chaque vue sinon pas de layout #}
{% endblock %}