{% extends "fragment/_navbar.html.twig" %}



{% block content %}
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

               
                <h3>Vous avez payé vous pouvez réutiliser le service</h3>
                <br>
                <br>
               
              
              
             
            
                <div class=pull-right><a href={{ path('vosServices') }} class="btn btn-primary">retour à vos services</a></div>
              
            </div>
        </div>
    </div>
</div>
{% endblock %}